# This env variable is mandatory 
# Questa variabile è obbligatoria
TMDB_KEY= "a96af2261cda4fe035b59e71483fb033"
# Those env variable are not mandatory
# Queste variabili non sono obbligatoria
PROXY = ["PROXY1","PROXY2"]
FORWARDPROXY ="http://elwood65:shadow65@142.111.48.253:7030/"
